// SECTION :: START

#modalProfileMain.modal-profile-main.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalProfileMain', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				div
					h5.modal-title Update Personal Details
				div
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						i.icon-font.icon-close

			.modal-body

				.modal__header
					.modal__header-bg
						div
					.modal__header-user
						img(src="img/img-user.jpg" alt="")

				.modal__step
					p STEP 1 : YOUR ACCOUNT DETAILS

				form.modal__form(action='' method='' autocomplete='off')
					p.modal__form-title Your Contact Details
					.modal__form-group
						div
							.modal__form-field
								label.modal__form-label(for="email")!= "Email <span>*</span>"
								input(type='email' id='email' name='email')
						div
							.modal__form-field
								label.modal__form-label(for="tel")!= "Phone Number <span>*</span>"
								input(type='tel' id='tel' name='tel' placeholder='')
					.modal__form-group
						div
							.modal__form-field
								label.modal__form-label(for="first_name")!= "First Name <span>*</span>"
								input(type='text' id='first_name' name='first_name')
						div
							.modal__form-field
								label.modal__form-label(for="last_name")!= "Last Name <span>*</span>"
								input(type='text' id='last_name' name='last_name' placeholder='')
					.modal__form-group
						div
							.modal__form-field
								label.modal__form-label(for="gender")!= "Gender"
								select(id='gender')
									option(value='0' selected='selected') Choose Gender
									option(value='1') Male
									option(value='2') Female
						div
							.modal__form-field
								label.modal__form-label(for="location_division")!= "Your Location / Division <span>*</span>"
								select(id="location_division")
									option(value='0' selected='selected') Choose Location
									option(value='1') Yangon
									option(value='2') Mandalay
									option(value='3') NayPyiTaw
									option(value='9') Ayeyawady Division
									option(value='5') Bago Division
									option(value='14') Chin State
									option(value='10') Kachin State
									option(value='15') Kayah State
									option(value='13') Kayin State
									option(value='7') Magway Division
									option(value='8') Mon State
									option(value='11') Rakhine State
									option(value='6') Sagaing Division
									option(value='4') Shan State
									option(value='12') Taninthayi Division
									option(value='24') Singapore
									option(value='25') Malaysia
									option(value='26') Thailand
									option(value='27') Australia
									option(value='28') UK
									option(value='29') USA
									option(value='16') International

					.modal__form-group
						div
							.modal__form-field
								label.modal__form-label(for="your_township")!= "Your Township"
								select(id='your_township'  select-dropdown-js)
									option(value='1') Ahlon
									option(value='2') Bahan
									option(value='3') Botahtaung
									option(value='4') Dagon
									option(value='5') Dagon Myothit (East)
									option(value='7') Dagon Myothit (North)
									option(value='8') Dagon Myothit (Seikkan)
									option(value='9') Dagon Myothit (South)
									option(value='6') Dagon Myothit (West)
									option(value='10') Dala
									option(value='11') Dawbon
									option(value='12') Hlaing
									option(value='13') Hlaingtharya
									option(value='14') Hlegu
									option(value='15') Hmawbi
									option(value='16') Htantabin
									option(value='17') Insein
									option(value='18') Kamaryut
									option(value='19') Kawhmu
									option(value='20') Kayan
									option(value='21') Kungyangon
									option(value='22') Kyauktada
									option(value='23') Kyauktan
									option(value='24') Kyeemyindaing
									option(value='25') Lanmadaw
									option(value='26') Latha
									option(value='27') Mayangone
									option(value='28') Mingaladon
									option(value='29') Mingalartaungnyunt
									option(value='30') North Okkalapa
									option(value='31') Pabedan
									option(value='46') Palae Myothit
									option(value='32') Pazundaung
									option(value='33') Sanchaung
									option(value='34') Seikgyikanaungto
									option(value='45') Shwe Pauk Kan
									option(value='35') Shwepyithar
									option(value='36') South Okkalapa
									option(value='37') Taikkyi
									option(value='38') Tamwe
									option(value='39') Thaketa
									option(value='40') Thanlyin
									option(value='41') Thingangkuun
									option(value='42') Thongwa
									option(value='43') Twantay
									option(value='44') Yankin

						div
							.modal__form-field
								label.modal__form-label(for="nationality")!= "Nationality <span>*</span>"
								select(id='nationality')
									option(value='0', selected='selected') Choose Nationality
									option(value='4') Afhganistan
									option(value='16') Aland Islands
									option(value='7') Albania
									option(value='63') Algeria
									option(value='12') American Samoa
									option(value='10') Anartica
									option(value='2') Andorra
									option(value='9') Angola
									option(value='6') Anguilla
									option(value='5') Antigua and Barbuda
									option(value='11') Argentina
									option(value='8') Armenia
									option(value='15') Aruba
									option(value='14') Australlia
									option(value='13') Austria
									option(value='17') Azerbaijan
									option(value='19') Babados
									option(value='33') Bahamas
									option(value='24') Bahrian
									option(value='20') Bangladesh
									option(value='37') Belarus
									option(value='21') Belgium
									option(value='38') Belize
									option(value='26') Benin
									option(value='28') Bermuda
									option(value='34') Bhutan
									option(value='30') Bolivia
									option(value='31') Bonaire, Saint Eustatuis and Saba
									option(value='18') Bosnia and Herzegovina
									option(value='36') Botswana
									option(value='35') Bouvet Island
									option(value='32') Brazil
									option(value='107') British Indian Ocean Territory
									option(value='240') British Virgin Islands
									option(value='29') Brunei
									option(value='23') Bulgaria
									option(value='22') Burkina Faso
									option(value='25') Burundi
									option(value='118') Cambodia
									option(value='48') Cameroon
									option(value='39') Canada
									option(value='53') Cape Verde
									option(value='126') Cayman Islands
									option(value='42') Central African Republic
									option(value='216') Chad
									option(value='47') Chile
									option(value='49') China
									option(value='55') Christmas Island
									option(value='40') Cocos Islands
									option(value='50') Colombia
									option(value='120') Comoros
									option(value='46') Cook Islands
									option(value='51') Costa Rica
									option(value='99') Croatia
									option(value='52') Cuba
									option(value='54') Curacao
									option(value='56') Cyprus
									option(value='57') Czech Republic
									option(value='41') Democratic Republic of the Congo
									option(value='60') Denmark
									option(value='59') Djibouti
									option(value='61') Dominica
									option(value='62') Dominican Republic
									option(value='222') East Timor
									option(value='64') Ecuador
									option(value='66') Egypt
									option(value='211') El Savador
									option(value='89') Equatorial Guinea
									option(value='68') Eritrea
									option(value='65') Estonia
									option(value='70') Ethiopia
									option(value='73') Falkland Islands
									option(value='75') Faroe Islands
									option(value='72') Fiji
									option(value='71') Finland
									option(value='76') France
									option(value='81') French Guiana
									option(value='176') French Polynesia
									option(value='217') French Southern Territories
									option(value='217') Svalvard and Jan Mayen
									option(value='77') Gabon
									option(value='86') Gambia
									option(value='88') Gaudeloupe
									option(value='58') Germany
									option(value='80') Gerogia
									option(value='83') Ghana
									option(value='84') Gibraltar
									option(value='90') Greece
									option(value='85') Greenland
									option(value='79') Grenada
									option(value='93') Guam
									option(value='92') Guatemala
									option(value='82') Guernsey
									option(value='87') Guinea
									option(value='94') Guinea - Bissau
									option(value='95') Guyana
									option(value='100') Haiti
									option(value='97') Heart Island and Mcdonald Islands
									option(value='98') Honduras
									option(value='96') Hong Kong
									option(value='101') Hungary
									option(value='110') Iceland
									option(value='106') India
									option(value='102') Indonesia
									option(value='253') International
									option(value='109') Iran
									option(value='108') Iraq
									option(value='103') Ireland
									option(value='105') Isle of Man
									option(value='104') Isreal
									option(value='111') Italy
									option(value='45') Ivory Coast
									option(value='113') Jamaica
									option(value='115') Japan
									option(value='112') Jersey
									option(value='114') Jordan
									option(value='127') Kazakhstan
									option(value='116') Kenya
									option(value='119') Kiribati
									option(value='124') Kosovo
									option(value='125') Kuwait
									option(value='117') Kyrgyzstan
									option(value='128') Laos
									option(value='137') Latvia
									option(value='129') Lebanon
									option(value='134') Lesotho
									option(value='133') Liberia
									option(value='138') Libya
									option(value='131') Liechtenstien
									option(value='135') Lithuania
									option(value='136') Luxembourg
									option(value='149') Macao
									option(value='146') Macedonia
									option(value='144') Madagascar
									option(value='157') Malawi
									option(value='159') Malaysia
									option(value='156') Maldives
									option(value='147') Mali
									option(value='154') Malta
									option(value='145') Marshall Islands
									option(value='151') Martinique
									option(value='152') Mauritania
									option(value='155') Mauritius
									option(value='247') Mayotte
									option(value='158') Mexico
									option(value='74') Micronesia
									option(value='141') Moldova
									option(value='140') Monaco
									option(value='148') Mongolia
									option(value='142') Montenegro
									option(value='153') Montserrat
									option(value='139') Morocco
									option(value='160') Mozambique
									option(value='1') Myanmar
									option(value='161') Namibia
									option(value='170') Nauru
									option(value='169') Nepal
									option(value='167') Netherlands
									option(value='252') Netherlands Antilles
									option(value='162') New Caledonia
									option(value='172') New Zealand
									option(value='166') Nicaragua
									option(value='163') Niger
									option(value='165') Nigeria
									option(value='171') Niue
									option(value='164') Norfolk Island
									option(value='122') North Korea
									option(value='150') Northern Marian Islands
									option(value='168') Norway
									option(value='173') Oman
									option(value='179') Pakistan
									option(value='186') Palau
									option(value='184') Palestinian Territory
									option(value='174') Panama
									option(value='177') Papua New Guinea
									option(value='187') Paraguay
									option(value='175') Peru
									option(value='178') Philippines
									option(value='182') Pitcairn
									option(value='180') Poland
									option(value='185') Portugal
									option(value='183') Puerto Rica
									option(value='188') Qatar
									option(value='43') Republic of the Congo
									option(value='189') Reunion
									option(value='190') Romania
									option(value='192') Russia
									option(value='193') Rwanda
									option(value='27') Saint Barthelemy
									option(value='201') Saint Helena
									option(value='121') Saint Kitts and Nevis
									option(value='130') Saint Lucia
									option(value='143') Saint Martin
									option(value='181') Saint Pierre and Miquelon
									option(value='238') Saint Vincent and the Grenadines
									option(value='245') Samoa
									option(value='206') San Marino
									option(value='210') Sao Tome and Principe
									option(value='194') Saudi Arabia
									option(value='207') Senegal
									option(value='191') Serbia
									option(value='251') Serbia and Montenegro
									option(value='196') Seychelles
									option(value='205') Sierra Leone
									option(value='200') Singapore
									option(value='212') Sint Maarten
									option(value='204') Slovakia
									option(value='202') Slovenia
									option(value='195') Solomon Islands
									option(value='208') Somalia
									option(value='248') South Africa
									option(value='91') South Georgia and the South Sandwich Islands
									option(value='123') South Korea
									option(value='198') South Sudan
									option(value='69') Spain
									option(value='132') Sri Lanka
									option(value='197') Sudan
									option(value='209') Suriname
									option(value='203') Svalbard and Jan Mayen
									option(value='217') French Southern Territories
									option(value='217') Svalvard and Jan Mayen
									option(value='214') Swaziland
									option(value='199') Sweden
									option(value='44') Switzerland
									option(value='213') Syria
									option(value='229') Taiwan
									option(value='220') Tajikistan
									option(value='230') Tanzania
									option(value='224') Tazania
									option(value='224') Tunisia
									option(value='219') Thailand
									option(value='218') Togo
									option(value='221') Tokelau
									option(value='225') Tonga
									option(value='227') Trinidad and Tobago
									option(value='224') Tazania
									option(value='224') Tunisia
									option(value='226') Turkey
									option(value='223') Turkmenistan
									option(value='215') Turks and Caicos Islands
									option(value='228') Tuvalu
									option(value='235') U.S Virgin Islands
									option(value='235') Uruguay
									option(value='241') U.S. Virgin Islands
									option(value='232') Uganda
									option(value='231') Ukraine
									option(value='3') United Arab Emirates
									option(value='78') United Kingdom
									option(value='234') United States
									option(value='233') United States Minor Outlying Islands
									option(value='235') U.S Virgin Islands
									option(value='235') Uruguay
									option(value='236') Uzbekistan
									option(value='244') Vanautu
									option(value='244') Wallis and Futuna
									option(value='243') Vanuatu
									option(value='237') Vatican
									option(value='239') Venezuela
									option(value='242') Vietnam
									option(value='244') Vanautu
									option(value='244') Wallis and Futuna
									option(value='67') Western Sahara
									option(value='246') Yemen
									option(value='249') Zambia
									option(value='250') Zimbabwe


					.modal__form-group
						div
							.modal__form-field
								label.modal__form-label!= "Date of Birth"
								.modal__form-field-group
									.modal__form-field
										select
											option(value='0' selected='selected') Day
											option(value='1') 1
											option(value='2') 2
											option(value='3') 3
											option(value='4') 4
											option(value='5') 5
											option(value='6') 6
											option(value='7') 7
											option(value='8') 8
											option(value='9') 9
											option(value='10') 10
											option(value='11') 11
											option(value='12') 12
											option(value='13') 13
											option(value='14') 14
											option(value='15') 15
											option(value='16') 16
											option(value='17') 17
											option(value='18') 18
											option(value='19') 19
											option(value='20') 20
											option(value='21') 21
											option(value='22') 22
											option(value='23') 23
											option(value='24') 24
											option(value='25') 25
											option(value='26') 26
											option(value='27') 27
											option(value='28') 28
											option(value='29') 29
											option(value='30') 30
											option(value='31') 31

									.modal__form-field
										select
											option(value='0' selected='selected') Month
											option(value='1') Jan
											option(value='2') Feb
											option(value='3') Mar
											option(value='4') Apr
											option(value='5') May
											option(value='6') Jun
											option(value='7') Jul
											option(value='8') Aug
											option(value='9') Sep
											option(value='10') Oct
											option(value='11') Nov
											option(value='12') Dec

									.modal__form-field
										select
											option(value='0' selected='selected') Year
											option(value='2020') 2020
											option(value='2019') 2019
											option(value='2018') 2018
											option(value='2017') 2017
											option(value='2016') 2016
											option(value='2015') 2015
											option(value='2014') 2014
											option(value='2013') 2013
											option(value='2012') 2012
											option(value='2011') 2011
											option(value='2010') 2010
											option(value='2009') 2009
											option(value='2008') 2008
											option(value='2007') 2007
											option(value='2006') 2006
											option(value='2005') 2005
											option(value='2004') 2004
											option(value='2003') 2003
											option(value='2002') 2002
											option(value='2001') 2001
											option(value='2000') 2000
											option(value='1999') 1999
											option(value='1998') 1998
											option(value='1997') 1997
											option(value='1996') 1996
											option(value='1995') 1995
											option(value='1994') 1994
											option(value='1993') 1993
											option(value='1992') 1992
											option(value='1991') 1991
											option(value='1990') 1990
											option(value='1989') 1989
											option(value='1988') 1988
											option(value='1987') 1987
											option(value='1986') 1986
											option(value='1985') 1985
											option(value='1984') 1984
											option(value='1983') 1983
											option(value='1982') 1982
											option(value='1981') 1981
											option(value='1980') 1980
											option(value='1979') 1979
											option(value='1978') 1978
											option(value='1977') 1977
											option(value='1976') 1976
											option(value='1975') 1975
											option(value='1974') 1974
											option(value='1973') 1973
											option(value='1972') 1972
											option(value='1971') 1971
											option(value='1970') 1970
											option(value='1969') 1969
											option(value='1968') 1968
											option(value='1967') 1967
											option(value='1966') 1966
											option(value='1965') 1965
											option(value='1964') 1964
											option(value='1963') 1963
											option(value='1962') 1962
											option(value='1961') 1961
											option(value='1960') 1960
											option(value='1959') 1959
											option(value='1958') 1958
											option(value='1957') 1957
											option(value='1956') 1956
											option(value='1955') 1955
											option(value='1954') 1954
											option(value='1953') 1953
											option(value='1952') 1952
											option(value='1951') 1951
											option(value='1950') 1950
											option(value='1949') 1949
											option(value='1948') 1948
											option(value='1947') 1947
											option(value='1946') 1946
											option(value='1945') 1945
											option(value='1944') 1944
											option(value='1943') 1943
											option(value='1942') 1942
											option(value='1941') 1941
											option(value='1940') 1940
											option(value='1939') 1939
											option(value='1938') 1938
											option(value='1937') 1937
											option(value='1936') 1936
											option(value='1935') 1935
											option(value='1934') 1934
											option(value='1933') 1933
											option(value='1932') 1932
											option(value='1931') 1931
											option(value='1930') 1930
											option(value='1929') 1929
											option(value='1928') 1928
											option(value='1927') 1927
											option(value='1926') 1926
											option(value='1925') 1925
											option(value='1924') 1924
											option(value='1923') 1923
											option(value='1922') 1922
											option(value='1921') 1921
											option(value='1920') 1920


						div
							.modal__form-field
								label.modal__form-label(for="employment_status")!= "Employment Status <span>*</span>"
								select(id='employment_status')
									option(value='0' selected='selected') Choose Employment Status
									option(value='2') Open to Work
									option(value='3') Not Open to Work


					.form-check
						input#driversLicense.form-check-input(type='checkbox')
						label.form-check-label(for='driversLicense') Drivers License

					.modal__form-divider

					p.modal__form-title What you are looking for...

					.modal__form-group
						div
							.modal__form-field
								label.modal__form-label(for="job_preference")!= "Job Preference <span>*</span>"
								select#job_preference
									option(value='0' selected='selected') Choose Job Preference
									option(value='1') Professional
									option(value='2') Graduate
									option(value='3') Blue Collar
						div
							.modal__form-field
								label.modal__form-label(for="job_type")!= "Job Type <span>*</span>"
								select#job_type
									option(selected='selected', value='0') Choose Job Type
									option(value='1') Full Time
									option(value='2') Part Time
									option(value='3') Temp/Contract
									option(value='4') Voluntary
									option(value='5') Graduate Program
									option(value='6') Internship
									option(value='7') Phd Research
									option(value='8') Thesis work
									option(value='9') Project specific

					.modal__form-group
						div
							.modal__form-field
								label.modal__form-label(for="job_title")!= "Job Title <span>*</span>"
								input(type='text' id='job_title' name='job_title')
						div
							.modal__form-field
								label.modal__form-label(for="job_functions")!= "Job Functions <span>*</span>"
								select#job_functions(choose-dropdown-js multiple="multiple")
									option(value='1' selected) Accounting, Finance
									option(value='2') Administrative
									option(value='7') Architecture, Design
									option(value='4') Consulting
									option(value='6' selected) Customer Service, Support
									option(value='23') Doctor, Nursing, Medical Staff
									option(value='8') Driver, Delivery, Motorbike
									option(value='9' selected) Education, Teaching, Childcare
									option(value='10') Engineering, Technical, HSE
									option(value='13') Food and Beverage
									option(value='39') General Workers
									option(value='14') Health, Beauty, Fitness
									option(value='16') HR, Training and Recruitment
									option(value='15') Hospitality, Hotel, Tourism
									option(value='17') IT Hardware, Software
									option(value='18') Legal, Risk and Compliance
									option(value='19') Logistics, Distribution, Fleet
									option(value='20') Management
									option(value='21') Manufacturing, Warehouse
									option(value='22') Marketing, Media, Creative
									option(value='25') PR, Communications
									option(value='38') Procurement, Supply Chain
									option(value='24') Project, Operations Management
									option(value='26') Quality Assurance
									option(value='27') Research and Development
									option(value='30') Sales, Business Development
									option(value='31') Science, Technology
									option(value='32') Skilled Trades , Construction
									option(value='33') Strategy, Planning
									option(value='34') Translation
									option(value='35') Voluntary work
									option(value='36') Writing, Editing
									option(value='37') Others

					.modal__form-group
						div
							.modal__form-field
								label.modal__form-label(for="experience_level")!= "Experience level <span>*</span>"
								select#experience_level
									option(value='0' selected) Choose Experience
									option(value='1') Entry Level
									option(value='2') Experienced Non-Manager
									option(value='3') Manager
									option(value='4') Director and Above
						div
							.modal__form-field
								label.modal__form-label(for="min_monthly_salary")!= "Min Monthly Salary (MMK) <span>*</span>"
								input(type='text' id='min_monthly_salary' name='min_monthly_salary' placeholder='')

					.modal__form-divider

					.modal__cv
						.modal__cv-header(data-toggle="collapse" data-target="#collapseCV" aria-expanded="false" aria-controls="collapseCV")
							div
								p!= "CV Attachments <span>(Upload your CV here..)</span>"
							div
								a(href="#")
									i.icon-font.icon-plus-sign
									span Add
						.collapse#collapseCV
							.modal__cv-body.modal__cv-body-1
								div
									.modal__form-field
										label.modal__form-label(for="cv_file")!= "CV File Attachment <span>*</span>"
										input(type='file' id='cv_file' name='cv_file')
								div
									.modal__form-field
										label.modal__form-label(for="cv_name")!= "CV Name (Any Choice) <span>*</span>"
										input(type='email' id='cv_name' name='cv_name')
								div
									.form-check
										input#myDefaultCV.form-check-input(type='checkbox')
										label.form-check-label(for='myDefaultCV') My Default CV

							.modal__cv-body.modal__cv-body-2.c-btn__wrapper
								a.c-btn.c-btn--borderGray(href="#" data-toggle="collapse" data-target="#collapseCV" aria-expanded="true" aria-controls="collapseCV")
									span Cancel
								a.c-btn.c-btn--borderGreen(href="#")
									span Save CV

					.modal__form-divider

			.modal-footer.c-btn__wrapper
				button.c-btn.c-btn--borderGray(type='button', data-dismiss='modal')
					span Cancel
				button.c-btn.c-btn--borderGreen(type='button')
					span Save My Profile


// SECTION :: END
