// SECTION :: START

section#description.description
	.c-grid

		p.description__title.c-title!= "Jobs in Myanmar on <a href='#'>JobNet.com.mm</a>"

		p.description__desc!= "<a href='#'>JobNet.com.mm</a> is the number one job portal in Myanmar, finding you the best jobs in Myanmar. Our mission is to provide you with the best job opportunities in Myanmar, including <a href='#'>jobs in Yangon</a>, <a href='#'>jobs in Mandalay</a> or <a href='#'>jobs in Naypyitaw</a>, or even jobs and careers anywhere in Myanmar."

		.description__wrapper(description-more-js)
			p.description__desc Whether you are a fresh graduate or an experienced professional looking for full or part time job in Myanmar, JobNet makes it easier for you. With JobNet you can upload your CV, apply for latest positions in the leading companies in Myanmar and receive latest jobs and helpful job related articles right to your inbox all round the year.

			p.description__desc!= "With JobNet Myanmar, you will find the best <a href='#'>jobs in Finance or Accounting</a>, <a href='#'>Sales or Business Development</a>, <a href='#'>Marketing</a> or <a href='#'>PR and Communications</a>, <a href='#'>HR</a>, <a href='#'>Engineering</a>, <a href='#'>Hospitality</a>, <a href='#'>Customer Service</a>, <a href='#'>Administration</a> and <a href='#'>IT or Computer</a> job opportunities."

			p.description__desc!= "The best jobs can be found in companies such as <a href='#'>Telenor</a>, <a href='#'>Ooredoo</a>, <a href='#'>MPT</a>, <a href='#'>KBZ Bank</a>, <a href='#'>Aya Bank</a>, <a href='#'>UNITED AMARA BANK</a>, <a href='#'>Unilever</a>, <a href='#'>Max Myanmar</a>, <a href='#'>RMA</a>, <a href='#'>MIT</a>, <a href='#'>Coca Cola</a>, whether it be to local or international companies in Myanmar, you will find employment opportunities and careers all over Myanmar."

			p.description__desc Since the transition of country, the country and economy has grown rapidly, creating more jobs in all the largest cities in Myanmar.   This includes the increase of jobs and employment in foreign companies also entering the market, with a need for the best talent for employers in the region.

			p.description__desc!= "This includes jobs and careers at all levels, whether it be entry level, experienced staff, management jobs, or director level jobs and employment across multiple industries, including <a href='#'>Trading and Distribution</a>, <a href='#'>Telecommunications</a>, <a href='#'>Hospitality</a>, <a href='#'>Education or Training</a>, <a href='#'>Pharmaceuticals</a>, <a href='#'>Manufacturing</a>, <a href='#'>Banking</a>, <a href='#'>Tourism</a>, <a href='#'>Real Estate</a>, <a href='#'>Retail</a>, <a href='#'>FMCG</a>, <a href='#'>Food and Beverage</a>, <a href='#'>Recruitment or Employment</a>, <a href='#'>Oil and Gas</a> and <a href='#'>Mining</a>."

			p.description__desc!= "If you’re looking for the best jobs and career in Myanmar, then JobNet Myanmar is the only place to look.  We have real employment and <a href='#'>jobs in Myanmar</a>, with the most current job opportunities in the nation, from real employers."

			p.description__desc Just register for jobs on JobNet, and you will be immediately notified when the right job or career opportunity comes for you, or alternatively search our thousands of jobs in Myanmar to get the best job results in the nation and land your next dream and career job.

		.description__more
			a(href="#" data-more='Read More' data-less='Read Less' description-btn-js) Read More

// SECTION :: END
